.artesania{
    background-image: url('../../public/placa-marmol-movil.png');
    z-index: -1;
    width: 300px;
    height: 300px;
    text-align: center;
    margin-left: 45px;
    h3{
        margin: 10px;
    }
    p{
        margin: 10px;
    }
    img{
        margin: 10px;
    }
}